asgiref==3.8.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.2.4
django-allauth==65.10.0
django-cleanup==9.0.0
django-cors-headers==4.7.0
django-stubs==5.2.2
django-stubs-ext==5.2.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
EbookLib==0.19
idna==3.10
lxml==5.4.0
mypy_extensions==1.1.0
pathspec==0.12.1
pio==0.0.3
PyJWT==2.10.1
python-dotenv==1.1.1
python-magic==0.4.27
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
types-PyYAML==6.0.12.20250516
typing_extensions==4.14.1
urllib3==2.5.0
